/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Varela+Round&display=swap');
body, h1, h2, h3, p, ul, li {
    margin: 15;
    padding: 0;
  }
  
  /* Set a base font size and font family */
  body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    background-color: #fcfce9;
  }
  
  /* Basic styling for the app container */
  .app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styling */
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styling */
  .form-status{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
form {
    display: flex;
    width: 600px;
    height: 600px;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
    /* margin-bottom: 20px; */
  }
  

  input, textarea, button {
    font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Task styling */
  .task-list {
    display: grid;
    grid-gap: 20px;
  }
  
  .task {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .task:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .task h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .task p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .app {
      padding: 10px;
    }
  }
  